.blog-posts {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #d1cccc;
    text-align: center;
}

.blog-content {
    text-align: center;
}

.blog-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.blog-link {
    text-decoration: none;
    color: #d1cccc;
    transition: color 0.3s ease;
}

.blog-link:hover {
    color: #10b981;
}

.blog-date {
    font-size: 1.25rem;
    color: #a1a1a1;
}
