.post {
    display: flex;
    align-items: left;
    justify-content: left;
    width: 760px;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 50px;
    color: #d1cccc;
    text-align: left;
}

.title {
    font-family: 'Iosevka Web';
    color: yellow;
    margin-left: 0.5rem;
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.date {
    padding-left: 5px;
    font-size: 1.2rem;
    font-family: 'Iosevka Web';
    color: #a1a1a1;
}

.video {
    text-decoration: underline;
}

.video:hover {
    color: #adff2f;
}

.contents {
    color: #d1cccc;
    padding-left: 50px;
    width: 760px;
    font-family: 'Iosevka Web';
    font-size: 1rem;
}

.spoilers {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    padding-top: 13px;
    font-weight: bold;
}
